
<body>

    <section class="section-weather" id="weather">
        <div class="row weather-unit">
            <div class="col span-1-of-2">
                <a href="#">C</a>
            </div>
            <div class="col span-1-of-2 verticalLine">
                <a href="#">F</a>
            </div>
        </div>
        <div class="row centered">
            <div class="col span-1-of-5 box">
                <ion-icon name="thermometer" size="large" class="white-font"></ion-icon>
                <h3>Current Temp</h3>
                <p class="white-font">@Model.WeatherInfo.main.CalculateKtoCTemp(@Model.WeatherInfo.main.temp)</p>
            </div>
            <div class="col span-1-of-5 box">
                <ion-icon name="sunny" size="large" class="white-font"></ion-icon>
                <h3>Max Temp</h3>
                <p class="white-font">@Model.WeatherInfo.main.CalculateKtoCTemp(@Model.WeatherInfo.main.temp)</p>
            </div>
            <div class="col span-1-of-5 box">
                <ion-icon name="snow" size="large" class="white-font"></ion-icon>
                <h3>Min Temp</h3>
                <p class="white-font">@Model.WeatherInfo.main.CalculateKtoCTemp(@Model.WeatherInfo.main.temp)</p>
            </div>
            <div class="col span-1-of-5 box">
                <ion-icon name="speedometer" size="large" class="white-font"></ion-icon>
                <h3>Pressure</h3>
                <p class="white-font">@Model.WeatherInfo.main.pressure</p>
            </div>
            <div class="col span-1-of-5 box">
                <ion-icon name="water" size="large" class="white-font"></ion-icon>
                <h3>Humidity</h3>
                <p class="white-font">@Model.WeatherInfo.main.humidity</p>
            </div>
        </div>
    </section>

    <script src="https://unpkg.com/ionicons@4.3.0/dist/ionicons.js"></script>
</body>